[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LassoHiDFastGibbs"]
	path = LassoHiDFastGibbs
	url = https://github.com/mjdavoudabadi/lassohidfastgibbs
